/* -------------------
TERMS
--------------------- */

.terms-service {
    margin-top: 3rem;
}

.terms-service-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.terms-service-right>p {
    margin: 1.6rem 0 2.5rem;
}

/* ---------------------
MEDIA QUERIES
------------------------ */

@media screen and (max-width: 1024px) {
    .terms-service {
        margin-top: 2rem;
    }

    .terms-service-container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .terms-service-left {
        width: 80%;
        margin: 0 auto;
    }
}